<div class="body-for-homepage">
  <section class="section-homepage">

    <div class="red-box">
      <h1>Classic Whipz<br><span>Where you can buy the car that your dad used to drive!</span></h1>
    </div>
    <div class="intro-picture"></div>

  </section>
  <section class="section-new-additions">
    <h2>Newest additions for sale!!!</h2>
    <div class="container-new-additions">

      {{#each cars as |car| }}

      <div class="new-addition">
        <a href="/car/{{car.id}}"><img src="/images/{{car.id}}/1.jpg" alt="model and year"></a>
        <a href="/car/1">{{car.year}} {{car.make}} {{car.model}}</a>
      </div>

      {{/each}}

    </div>
    <a href="../carlist.html" class="see-all">See more</a>

  </section>


</div>